body {
    background-color: #89C5CC;
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    margin: 0;
    color: #19197f;
  }

.container {
  margin-top: 15%;
}

.login-wrap {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.login-wrap h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-control-placeholder {
  font-size: 12px;
  color: #6c757d;
}

.form-control {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 0.75rem 0.75rem;
}

.btn-primary {
  background-color: #89C5CC;
  border-color: #19197f;
}

.btn-primary:hover {
  background-color: #89C5CC;
  border-color: #19197f;
}

.spinner-border {
  display: none;
  width: 1rem;
  height: 1rem;
  border-width: 2px;
}

.btn:disabled .spinner-border {
  display: inline-block;
}

a {
    color: inherit;
    text-decoration: none;
  }
  
  a:hover, a:focus, a:active {
    color: inherit;
    text-decoration: none;
  }

.rad {
  color: #000;
  font-size: x-small;
}
