body {
    font-family: Arial, sans-serif;
    background-color: white;
    padding: 20px;
    margin: 0;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
  }
  
  .header .profile,
  .header .menu {
    font-size: 24px;
  }
  
  .tabs {
    display: flex;
    justify-content: space-around;
    background-color: #89C5CC;
    color: #19197f;
    height: 40px;
    margin-bottom: 20px;
  }
  
  .tab {
    padding: 10px 20px;
    color: #fff;
  }
  
  .tab.active a {
    border-bottom: 3px solid #19197f;
    color: #19197f;
  }
  
  .tab a {
    text-decoration: none;
    color: inherit;
  }
  table {
    width: 100%;
    border-collapse: collapse;
  }
  th {
    background-color: #19197f;
    color: white;
    padding: 10px;
  }
  td {
    padding: 10px;
    text-align: left;
  }
  .email {
    background-color: #89C5CC;
  }
  tr:nth-child(even) {
    background-color: #F0F0F0;
  }