body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 20px;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
  }
  
  .header .profile,
  .header .menu {
    font-size: 24px;
  }
  
  .tabs {
    display: flex;
    justify-content: space-around;
    background-color: #89C5CC;
    color: #19197f;
    height: 40px;
    margin-bottom: 20px;
  }
  
  .tab {
    padding: 10px 20px;
    color: #fff;
  }
  
  .tab.active a {
    border-bottom: 3px solid #19197f;
    color: #19197f;
  }
  
  .tab a {
    text-decoration: none;
    color: inherit;
  }

  .bar {
    width: 200px;
    background-color: #89C5CC;
    padding: 10px;
    border-right: 2px solid #19197f;
    margin: 20px;
  }
  .bar {
    font-size: 18px;
    color: #333;
  }
  .bar ul {
    list-style: none;
    padding: 0;
    margin: 10px;
  }
  .bar ul li {
    padding: 8px;
    border-bottom: 1px solid #19197f;
    cursor: pointer;
  }
  .bar ul li:hover {
    background-color: #ddd;
  }

  li{
    color: #fff
  }