<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Admin Dashboard</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/create.css') }}">

</head>
<body>

  <div class="dashboard-header">
    Create Meeting
  </div>

  <button class="button">Start a meeting</button>
  <button class="button">Schedule a meeting</button>

  <div class="toggle-container">
    <span>Access Device location</span>
    <label class="toggle-switch">
      <input type="checkbox">
      <span class="slider"></span>
    </label>
  </div>

</body>
</html>
