<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Admin Dashboard</title>
<link rel="stylesheet" href="/static/css/create.css">
<link rel="stylesheet" href="/static/css/reponse.css">
</head>
<body>
  <div class="header">
    <div class="profile">👤</div>
    <div class="menu">☰</div>
  </div>

  <div class="tabs" id="navbar">
    <div class="tab">
      <a href="{{ url_for('dashboard') }}">Dashboard</a>
    </div>
    <div class="tab active">
      <a  type="button">create meeting</a>
    </div>

    <div class="tabi">
      <a href="{{ url_for('signout') }}">
        Sign Out </a>
      </div>
  </div>

  <div class="content">
    <button class="button">Start a Meeting</button>
    <button id="showFormButton" class="button">Schedule a Meeting</button>

    
    <!-- The form to be shown on button click -->
    <form id="createMeet" action="{{ url_for('create_meeting') }}" method="post">
        
      <label for="title">what's this meeting about</label>
      <input type="text" id="title" name="title" required>
      <br>
      <button class="button" type="submit">Create</button>
    </form>
  
    <div class="toggle-container">
      <span>Access Device Location</span>
      <label class="toggle-switch">
        <input type="checkbox">
        <span class="slider"></span>
      </label>
    </div>
  </div>
  <script>
    document.querySelector('.menu').addEventListener('click', function() {
      document.getElementById('navbar').classList.toggle('show');
  });
  document.getElementById('showFormButton').addEventListener('click', function() {
            var form = document.getElementById('createMeet');
            if (form.style.display === 'none' || form.style.display === '') {
                form.style.display = 'block';
            } else {
                form.style.display = 'none';
            }
        });
  </script>
</body>
</html>
