<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AUTOTEND</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="icon" href="https://th.bing.com/th?id=OIP.NBycZ3JD3xiaEfD06phb9AHaHa&w=250&h=250&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=3.1&rm=2" type="image/png" sizes="16x16">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
    <header class="header">
        <div class="container">
            <nav class="navbar">
                <h1 class="logo">AUTOTEND</h1>
                <ul class="nav_links">
                    <li class="navlink"><a class="nav-item" href="#home">Home</a></li>
                    <li class="navlink"><a class="nav-item" href="#about">About</a></li>
                    <li class="navlink"><a class="nav-item" href="#services">Services</a></li>
                    <li class="navlink"><a class="nav-item" href="#testimony">Testimony</a></li>
                </ul>
                <div class="nav_button">
                    <a class="first_navbutton" href="/signup">Register</a>
                    <a class="second_navbutton" href="/login">Login</a>
                </div>                
            </nav>
        </div>
    </header>

    <section class="firstbodysection" id="home" data-aos="fade-up">
        <div class="first_summary">
            <div class="bodytext">
                <h1 class="text"><span class="makeskyblue">AutoTend</span> makes attendance tracking <br> easy and accurate</h1>
                <p class="summary">AutoTend simplifies attendance management for schools and businesses, ensuring accurate and efficient tracking without the risk of impersonation.</p>
            </div>
            <div class="ellipses"> 
                <img class="first" src="../static/images/Rectangle1.png" alt="Ellipse 1">
                <img class="second" src="{{ url_for('static', filename='images/ellipse2.png') }}" alt="Ellipse 2">
                <img class="third" src="/static/images/Ellipse3.png" alt="Ellipse 3">
            </div>
            <div class="bodybutton">
                <button class="btn1" type="button">Get Demo Video</button>
            </div>
            <div class="first_sampleimages">
                <img class="sample_snip" src="/static/images/tab1.png" alt="Sample Snippet">
                <img class="sample_checkmark" src="/static/images/Group 338 1.png" alt="Checkmark">
            </div>
        </div>
    </section>

    <section class="secondbodysection" id="about" data-aos="fade-left">
        <div class="second_summary">
            <div class="second_sampleimages">
                <img class="shape1" src="/static/images/pupil.jpg" alt="Pupil">
                <img class="shape2" src="/static/images/student2.png" alt="Student 2">
                <img class="shape3" src="/static/images/tab2.png" alt="Tab 2">
            </div>
            <div class="second_content">
                <div class="secondsectionicons">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                </div>
                <div class="secondbodytext">
                    <h1 class="secondtext">Precision Timing and Attendance Verification</h1>
                    <p class="secondsummary">AutoTend ensures precise timing and verification for both students and employees, streamlining the attendance process and reducing errors.
                        Provides automated timestamping for accurate attendance records. Geolocation features to ensure attendance is marked from the correct location. and Easy integration with existing HR and school management systems.
                    </p>
                </div>
                <div class="secondbodybutton">
                    <button class="btn2" type="button">Register Now</button>
                    <hr class="hr1">
                </div>
            </div>
        </div>
    </section>

    <section class="thirdbodysection" id="services" data-aos="fade-right">
        <div class="third_summary">
            <div class="third_sampleimages">
                <img class="shape4" src="/static/images/Rectangle1621.png" alt="Rectangle">
                <img class="shape5" src="/static/images/phone3.png" alt="Phone">
                <img class="shape6" src="/static/images/summary.png" alt="Summary">
            </div>
            <div class="third_content">
                <div class="thirdbodytext">
                    <h1 class="thirdtext">Support for Employers and Instructors</h1>
                    <p class="thirdsummary">AutoTend provides comprehensive support for employers and instructors, ensuring seamless attendance tracking and preventing student impersonation.</p>
                </div>
                <div class="thirdbodybutton">
                    <button class="btn3" type="button">Register Now</button>
                    <hr class="hr2"> 
                </div>
                <div class="thirdsectionicons">
                    <i class="fa fa-clock-o" aria-hidden="true"></i> 
                </div>
            </div>
        </div>
    </section>

    <section class="fourthbodysection" id="testimony" data-aos="fade-up">
        <div class="fourth_summary">
            <h1 class="fourth_text">Get students and employee absentee data in <br> realtime and accurately</h1>
            <img class="minicheckmark" src="/static/images/4 Group 338 2.png" alt="Mini Checkmark">
            <div class="fourth_contentimages">
                <img class="bigscreen" src="/static/images/4 screen.png" alt="Big Screen">
                <img class="front" src="/static/images/4 bottom.png" alt="Front">
                <img class="laporan" src="/static/images/dashboard.png" alt="Dashboard">
                <img class="minisquare1" src="/static/images/records.png" alt="Records">
                <img class="minisquare2" src="/static/images/join.png" alt="Join">
                <img class="minisquare3" src="/static/images/create.png" alt="Create">
            </div>
        </div>
    </section>

    <section class="fifthbodysection" data-aos="fade-down">
        <div class="fifth_summary">
            <div class="fifth_sampleimages">
                <img class="firstfinal" src="/static/images/student1.jpg" alt="Student">
            </div>
            <div class="gifticon" style="font-size: 0.5rem;">
                <i class="fa fa-gift-10x"></i>
            </div>
            <div class="fifthsectionicons">
                <i class="fa fa-clock-o" aria-hidden="true"></i>
            </div>
            <div class="fifth_content">
                <div class="fifthbodytext">
                    <h1 class="fifthtext">Benefits to be obtained<br> Your company.</h1>
                </div>
                <ol class="listoptions">
                    <li class="custom">No need to buy a scan tool for attendance</li>
                    <li class="custom">Data that is accurate and fast</li>
                    <li class="custom">Meeting/Class? This tool can get real data</li>
                    <li class="custom">Real time report</li>
                </ol>
                <div class="fifthbodybutton">
                    <button class="btnfinal" type="button">Register Now</button>
                </div>
            </div>
        </div>
    </section>

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <footer class="lastsection">
        <p class="foottext">Created By Kibo School Students</p>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script src="static/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>
