<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Attendance Marker</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/mark.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/reponse.css') }}">
</head>
<body>
  <div class="header">
    <div class="profile">👤</div>
    <div class="menu">☰</div>
  </div>

  <div class="tabs" id="navbar">
    <div class="tab">
      <a href="{{ url_for('dashboard') }}">Dashboard</a>
    </div>
    <div class="tab active">
      <a href="{{ url_for('markATD') }}">Mark Attendance</a>
    </div>
    <div class="tabi">
      <a href="{{ url_for('signout') }}">
        Sign Out </a>
      </div>
  </div>

  <div class="content">
    <div class="container">
      <div>
        <label for="lecture-code">Organizer Code:</label>
        <input type="text" id="lecture-code" name="lecture-code">
      </div>
      <button id="mark-attendance">Mark Attendance</button>
      <button id="access-location">Access Device Location</button>
      
    </div>
  </div>
  <script>
    document.querySelector('.menu').addEventListener('click', function() {
      document.getElementById('navbar').classList.toggle('show');
  });

   // Mark attendance button event listener
    document.getElementById('mark-attendance').addEventListener('click', function() {
      const lectureCode = document.getElementById('lecture-code').value;

      fetch('/mark_attendance', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ lectureCode: lectureCode })
      })
      
      .catch((error) => {
        console.error('Error:', error);
      });
    });

  </script>
</body>
</html>
