<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Attendance Records</title>
<link rel="stylesheet" href="/static/css/records.css">
<link rel="stylesheet" href="/static/css/reponse.css">
</head>
<body>
    <div class="header">
        <div class="profile">👤</div>
        <div class="menu">☰</div>
    </div>

    <div class="tabs" id="navbar">
      <div class="tab">
        <a href="{{ url_for('dashboard') }}">Dashboard</a>
      </div>
      <div class="tab active">
        <a href="{{ url_for('records') }}">Records</a>
      </div>
      <div class="tabi">
        <a href="{{ url_for('signout') }}">Sign Out</a>
      </div>
    </div>

    <div class="content-wrapper">
        <div class="content">
            <h2> Meeting Name: {{ title }}</h2>
            <button onclick="window.location.href='{{ url_for('download_records', format='excel', meeting_id=meeting_id) }}'">Download as Excel</button>
            <table>
                <tr>
                    <th>Attendee Name</th>
                    <th>Time</th>
                    <th>Status</th>
                </tr>
                {% for record in attendance_records %}
                <tr>
                    <td class="email">{{ record.attendee_name }}</td>
                    <td>{{ record.attendance_time|format_datetime }}</td>
                    <td>{{ record.status }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

<script>
  document.querySelector('.menu').addEventListener('click', function() {
    document.getElementById('navbar').classList.toggle('show');
});
</script>
</body>
</html>
