<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Announcement Section</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/schedule.css') }}">

</head>
<body>

  <div class="announcement-header">
    Announcement/ Updates
  </div>

  <div class="announcement-content">
    <div class="bar">
      <ul>
        <li>Discrete Mathematics</li>
        <li>13-04-2024</li>
        <li>8:30 am</li>
      </ul>
    </div>
    
    <div class="bar">
      <ul>
        <li>Challenge Studio</li>
        <li>13-04-2024</li>
        <li>4:30 am</li>
      </ul>
    </div>

    <div class="bar">
      <ul>
        <li>Artificial Intelligence</li>
        <li>13-04-2024</li>
        <li>1:30 pm</li>
      </ul>
    </div>
    
  </div>

</body>
</html>
