<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Score Announcement</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/summary.css') }}">

</head>
<body>

    <div class="header">
        <div class="profile">👤</div>
        <div class="menu">☰</div>
      </div>
    
      <div class="tabs">
        <div class="tab">
          <a href="{{ url_for('dashboard') }}">
            Dashboard </a>
          </div>
        <div class="tab active">
          <a href="{{ url_for('summary') }}">
          Summary </a>
        </div>
      </div>

        <div class="content">
            <table>
                <tr>
                    <th>Student</th>
                    <th>Score</th>
                    <th>Action</th>
                </tr>
                <tr>
                    <td>Idris Okonkwo</td>
                    <td>1/10</td>
                    <td><button class="button">View</button></td>
                </tr>
                <tr>
                    <td>Stephen Uriske</td>
                    <td>7/10</td>
                    <td><button class="button">View</button></td>
                </tr>
                <tr>
                    <td>Idris Okonkwo</td>
                    <td>10/10</td>
                    <td><button class="button">View</button></td>
                </tr>
                <tr>
                    <td>Felix Okonkwo</td>
                    <td>4/10</td>
                    <td><button class="button">View</button></td>
                </tr>
            </table>
        </div>

</body>
</html>
